<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /forms_atom/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /forms_atom/index.html [L]
</IfModule>
